# Solar Solver

Carlos Ortega

In [1]:
# Custom Modules
import SolarSimulator
import HomeLoad
import HomeSolarAssistant as hsa
import HomeSolar

# House Info
house1 = {'name':'Horton House',
	'location':{
		'lat':33.392,
		'lon':-111.921},
	'specs':{
		'array_type':1,
		'azimuth':180,
		'tilt':28.7,
		'losses':1},
	'load_file':r'/home/carlos/Documents/Home Mining/Solar Solver/Load Data/meter data/Horton Load Data.csv'}

house2 = {'name':'Ortega House',
	'location':{
		'lat':33.594,
		'lon':-111.77},
	'specs':{
		'array_type':1,
		'azimuth':180,
		'tilt':28.5,
		'losses':1},
	'load_file':r'/home/carlos/Documents/Home Mining/Solar Solver/Load Data/meter data/House Load Data.csv'}

In [2]:
horton = HomeSolar.HomeSolar(house1)
horton.solar_solver()

Starting data download for solar using 1 thread workers.
File already exists. Skipping download: /home/carlos/Documents/Home Mining/Solar Solver/data/PySAM Downloaded Weather Files/nsrdb_33.392_-111.921_psm3-tmy_60_tmy.csv
Capacity: kW=1:1 Savngs: $23.85 Cost: $1,472.00 Payback: 5.14
Capacity: kW=5:5 Savngs: $54.74 Cost: $7,360.00 Payback: 11.20
Capacity: kW=5:7 Savngs: $63.94 Cost: $9,660.00 Payback: 12.59
Capacity: kW=5:10 Savngs: $70.96 Cost: $13,110.00 Payback: 15.40
Capacity: kW=7:7 Savngs: $64.16 Cost: $10,304.00 Payback: 13.38
Capacity: kW=7:10 Savngs: $73.42 Cost: $13,754.00 Payback: 15.61
Capacity: kW=7:12 Savngs: $77.37 Cost: $16,054.00 Payback: 17.29
Capacity: kW=10:10 Savngs: $73.21 Cost: $14,720.00 Payback: 16.75
Capacity: kW=10:12 Savngs: $77.08 Cost: $17,020.00 Payback: 18.40
Capacity: kW=10:15 Savngs: $81.84 Cost: $20,470.00 Payback: 20.84
Capacity: kW=10:20 Savngs: $87.36 Cost: $26,220.00 Payback: 25.01
Capacity: kW=20:20 Savngs: $85.31 Cost: $29,440.00 Payback: 28.76
Capacity: kW=20:25 Savngs: $88.63 Cost: $35,190.00 Payback: 33.09

In [3]:
horton.solar_savings

    scenario    savings     cost     period
0     kW=1:1  23.853861   1472.0   5.142424
1     kW=5:5  54.744650   7360.0  11.203530
2     kW=5:7  63.938004   9660.0  12.590321
3    kW=5:10  70.957589  13110.0  15.396521
4     kW=7:7  64.161668  10304.0  13.382861
5    kW=7:10  73.418421  13754.0  15.611432
6    kW=7:12  77.372178  16054.0  17.290884
7   kW=10:10  73.214632  14720.0  16.754392
8   kW=10:12  77.083276  17020.0  18.400014
9   kW=10:15  81.842037  20470.0  20.842997
10  kW=10:20  87.364948  26220.0  25.010030
11  kW=20:20  85.314877  29440.0  28.756219
12  kW=20:25  88.625092  35190.0  33.088823

In [ ]:
ortega = HomeSolar.HomeSolar(house2)
ortega.solar_solver()

In [20]:
import numpy as np

In [29]:
def EVcharging(MPG,mi,rate = ['e21','e23','e26','e27p','e29','e13','e14','e15','e27']):
	for i in rate:
		if i in ['e29','e14']:
			charge_cost = np.sum(hsa.SRPrates[i]['superoff']*(4/12,2/12,6/12))
		elif i == 'e23':
			charge_cost = np.sum(hsa.SRPrates[i]['<2k']*(4/12,2/12,6/12))
		else:
			charge_cost = np.sum(hsa.SRPrates[i]['off']*(4/12,2/12,6/12))

	cost = (mi/MPG)*charge_cost
	return cost

EVcharging(0.24,10000)

1715.2777777777778

In [25]:
hsa.SRPrates['e23']

        season     <2k     >2k  service
0       summer  0.1120  0.1163       20
1  summer peak  0.1186  0.1299       20
2       winter  0.0829  0.0000       20

In [21]:
np.sum(hsa.SRPrates['e29']['superoff']*(4/12,2/12,6/12))

0.06315

In [14]:
rates.items()

dict_items([('e21',         season      on     off  service
0       summer  0.2924  0.0858       20
1  summer peak  0.3473  0.0882       20
2       winter  0.1110  0.0785       20), ('e23',         season     <2k     >2k  service
0       summer  0.1120  0.1163       20
1  summer peak  0.1186  0.1299       20
2       winter  0.0829  0.0000       20), ('e26',         season      on     off  service
0       summer  0.2123  0.0756       20
1  summer peak  0.2438  0.0759       20
2       winter  0.0998  0.0738       20), ('e27p',         season      on     off  traunch1  traunch2  traunch3  service
0       summer  0.0491  0.0389      7.89     14.37     27.28    32.44
1  summer peak  0.0651  0.0441      9.43     17.51     33.59    32.44
2       winter  0.0457  0.0417      3.49      9.57      9.57    32.44), ('e29',         season      on     off  superoff  service
0       summer  0.2123  0.0794    0.0640       20
1  summer peak  0.2438  0.0799    0.0643       20
2       winter  0.0998  0.0784    0.0622       20), ('e13',         season      on     off  export  service
0       summer  0.2123  0.0756  0.0281    32.44
1  summer peak  0.2438  0.0759  0.0281    32.44
2       winter  0.0998  0.0738  0.0281    32.44), ('e14',         season      on     off  superoff  export  service
0       summer  0.2123  0.0794    0.0640  0.0281    32.44
1  summer peak  0.2438  0.0799    0.0643  0.0281    32.44
2       winter  0.0998  0.0784    0.0622  0.0281    32.44), ('e15',         season      on     off  demand  service
0       summer  0.0491  0.0389   19.29    32.44
1  summer peak  0.0651  0.0441   21.94    32.44
2       winter  0.0457  0.0417    8.13    32.44), ('e27',         season      on     off  traunch1  traunch2  traunch3  service
0       summer  0.0491  0.0389      7.89     14.37     27.28    32.44
1  summer peak  0.0651  0.0441      9.43     17.51     33.59    32.44
2       winter  0.0457  0.0417      3.49      9.57      9.57    32.44)])

In [10]:
for i in range(0,len(rates)-1):
	print(rates[i])

KeyError: 0

In [6]:
rates['e27p']

        season      on     off  traunch1  traunch2  traunch3  service
0       summer  0.0491  0.0389      7.89     14.37     27.28    32.44
1  summer peak  0.0651  0.0441      9.43     17.51     33.59    32.44
2       winter  0.0457  0.0417      3.49      9.57      9.57    32.44

In [ ]:
			if rate == 'e27':
				bill['import_cost'] = (bill['import_off_kWh']*bill['off']) + (bill['import_on_kWh']*bill['on'])
				bill['export_cost'] = (bill['export_off_kWh']*bill['off']) + (bill['export_on_kWh']*bill['on'])*-1
				bill['demand'] = bill.apply(lambda x: hsa.demandcharge(x.kW,x.season,rate), axis=1).apply(np.sum,axis=1)
				bill[col] = (bill['demand']) + (bill['import_cost']) + (bill['export_cost']) + bill['service']
			elif rate == 'e15':
				bill['import_cost'] = (bill['import_off_kWh']*bill['off']) + (bill['import_on_kWh']*bill['on'])
				bill['export_cost'] = (bill['export_off_kWh']*bill['off']) + (bill['export_on_kWh']*bill['on'])*-1
				bill['demand'] = bill.apply(lambda x: hsa.demandcharge(x.kW,x.season,rate), axis=1).apply(np.sum,axis=1)
				bill[col] = (bill['demand']) + (bill['import_cost']) + (bill['export_cost']) + bill['service']
			elif rate == 'e14':
				bill['import_cost'] = (bill['import_off_kWh']*bill['off']) + (bill['import_on_kWh']*bill['on']) + (bill['import_superoff_kWh']*bill['superoff'])
				bill['export_cost'] = (bill['export_kWh']*bill['export'])*-1
				bill[col] = (bill['import_cost']) + (bill['export_cost']) + bill['service']
			else:
				bill['import_cost'] = (bill['import_off_kWh']*bill['off']) + (bill['import_on_kWh']*bill['on'])
				bill['export_cost'] = (bill['export_kWh']*bill['export'])*-1
				bill[col] = (bill['import_cost']) + (bill['export_cost']) + bill['service']
			return bill[['yy','mo',col]]